/* Inicio propiedades*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

footer {
  height: 70px;
  background-color: #68A49C;
  bottom: 0;
  position: absolute;
  width: -webkit-fill-available;
}

.footerExtended {
  clear: both;
  position: relative;
  height: 70px;
  margin-top: auto;
  background-color: #68A49C;
}

/* carousel*/
.carousel-inner img {
  width: 100%;
  height: 80vh;
}

/*fin carousel*/
/*textos*/
h1, h2 {
  color: #4C4C4C;
  font-family: "Lobster", cursive;
}

p {
  font-family: "Tahoma", cursive;
  text-align: center;
}

h4 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Tahoma", cursive;
  text-align: center;
}

h5 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Tahoma", cursive;
}

/*fin textos*/
/*redes */
.red__bordesRedondeados {
  border-radius: 50px;
}

.red__bordesRedondeados:hover {
  border-radius: 50px;
  transform: scale(1.2);
}

/* fin redes*/
/*Fin propiedades*/
/* Inicio Header*/
.nave {
  overflow: hidden;
  background-color: #68A49C;
  margin: 0;
  padding: 0;
}

.nave > .nave-header {
  float: left;
  text-decoration: none;
  display: block;
}

.nave > .nave-header > .nave-title {
  display: block;
  text-decoration: none;
}

.nave > .nave-links {
  float: right;
}

.nave > .nave-links > a {
  float: left;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  padding: 25px 25px;
  display: block;
  font-family: "Carlito";
}

.nave > .nave-links > a:hover {
  background: #56bdaf;
  text-decoration: none;
  color: whitesmoke;
}

.nave > .nave-btn,
.nave > #nave-check {
  display: none;
}

/* fin Header*/
/* inicio imgGallery*/
.body__flex {
  display: flex;
  height: 600px;
  flex-direction: column;
}

.img__nosotros {
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex: 1;
  margin: 1;
  flex-direction: column;
  padding: 2%;
}

div.gallery {
  margin: 5px;
  border: 1px solid whitesmoke;
  float: left;
  width: 180px;
  background-color: whitesmoke;
}
div.gallery:hover {
  border: 1px solid #777;
  background-color: #68A49C;
}
div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: "Lobster", cursive;
}

/* fin imgGallery*/
/* inicio especializaciones */
.especializaciones {
  margin-left: 40%;
  margin-right: auto;
  font-size: 15px;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.especializaciones li:hover {
  margin: 10px;
  display: inline;
  transform: scale(1.1);
  transition-duration: 1s;
}

/*fin especializaciones*/
/* inicio contactos*/
.grid__container {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
  grid-template-columns: 40% auto;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.grid__item--contactos {
  grid-column: 2;
  grid-row: 1;
  padding-left: 15px;
}

.lista__contacto {
  list-style-type: none;
  background-color: lightgray;
  padding-right: 100;
  list-style-type: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.grid__item--formulario {
  grid-column: 1 2;
  grid-row: 3;
}

.textArea {
  width: 50%;
  height: 100px;
}

.textArea__mensaje {
  margin-left: 1.5%;
  width: 50%;
  height: 100px;
}

/*fin contactos*/
/* Media Queries*/
@media only screen and (max-width: 850px) {
  footer {
    clear: both;
    position: relative;
    height: 70px;
    margin-top: auto;
    background-color: #68A49C;
  }
}
@media only screen and (max-width: 850px) {
  .img__nosotros {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .nave > .nave-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nave > .nave-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nave > .nave-btn > label:hover, .nave #nave-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nave > .nave-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nave > .nave-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #68A49C;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nave > .nave-links > a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .nave > #nave-check:not(:checked) ~ .nave-links {
    height: 0px;
  }

  .nave > #nave-check:checked ~ .nave-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    z-index: 9999;
  }
}
/*Fin Media Queries*/

/*# sourceMappingURL=style.css.map */
