/* Media Queries*/
@media only screen and (max-width: 850px) {
	footer {
		clear: both;
    	position: relative;
    	height: 70px;
    	margin-top: auto;
		background-color: #68A49C;
	}
  }

  @media only screen and (max-width: 850px) {
	.img__nosotros {
		width: 100%;
  		height: auto;
	}
  }  

  @media (max-width:600px) {
    .nave > .nave-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nave > .nave-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nave > .nave-btn > label:hover,.nave  #nave-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nave > .nave-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nave > .nave-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #68A49C;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nave > .nave-links > a {
      display: block;
      width: 100%;
      text-align: center;
    }
    .nave > #nave-check:not(:checked) ~ .nave-links {
      height: 0px;
    }
    .nave > #nave-check:checked ~ .nave-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
      z-index: 9999;
    }
}

  /*Fin Media Queries*/